@model IEnumerable<Movie>

<section class="row">

    @foreach (Movie movie in Model)
    {
        <div class="col-md-3 movie-box">
            <img src=@movie.Poster />
            <p class="row">
                <b>@movie.Title</b>
            </p>
        </div>
    }

</section>